<main class="">
  <form ng-submit="$ctrl.submit()">
    <input id="task_description" type="text" ng-model="$ctrl.task.description">
    <input id="task_date" type="date" ng-model="$ctrl.task.date">
    <button type="submit">Add</button>
  </form>
  <table border="1">
    <thead>
      <tr>
        <th>MAIN</th>
        <th>item</th>
        <th>date</th>
        <th>done</th>
      </tr>
    </thead>
    <tbody ng-repeat="item in $ctrl.tableData">
      <tr>
        <th>Row-{{item.id}}</th>
        <td>{{item.description}}</td>
        <td>{{item.date.toLocaleDateString()}}</td>
        <td><input type="checkbox" ng-click="$ctrl.removeTask(this.item.id)"/>&nbsp;Complete</td>
      </tr>
    </tbody>
  </table>
</main>