<main class="tasklist-view">
  <form ng-submit="$ctrl.submit()">
    <input id="task_name" 
           type="text" 
           ng-model="$ctrl.task.name" 
           placeholder="so do something"
           required />
    <input id="task_details" 
           type="text" 
           ng-model="$ctrl.task.details" 
           placeholder="but, how?"
           required />
    <input id="task_date" 
           type="date" 
           ng-model="$ctrl.task.date"
           required />
    <button type="submit">Add</button>
  </form>
  <!-- <script>let formatDate = Date.parse($ctrl.taskList[1].date); 
    console.log(formatDate);
  </script>
  <p>{{formatDate}}</p> -->
  <table class="task-table">
    <thead>
      <tr>
        <th>To-Do-List</th>
        <th>Task Name</th>
        <th>Details</th>
        <th>Target Completion Date</th>
        <th>Done</th>
      </tr>
    </thead>
    <tbody ng-repeat="item in $ctrl.taskList">
      <tr>
        <th>Task-{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.details}}</td>
        <td>{{item.date}}</td>
        <td><input type="checkbox" ng-click="$ctrl.removeTask(this.item)"/>&nbsp;Complete</td>
      </tr>
    </tbody>
  </table>
</main>