/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  margin-left: 1em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "|";
}

.menu:after {
  content: "|";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "||";
  padding-right: 0.3em;
}

.greeting > * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  font-weight: 700 !important;
  padding: 4rem;
  color:darkslategrey;
  background-color: coral;
}

main {
  margin: 0 auto;
  padding: 0.5em;
  width: fit-content;
  background-color: rgb(177, 219, 255);
}

.task-table {
  border: solid 2px coral;
  border-radius: 5px;
}
.task-table th {
  border: solid 1px pink;
  border-radius: 4px;
}
.task-table td {
  min-height: 30px;
  line-height: 26px;
  background-color: aliceblue;
  color: #444444;
  border: solid 1px goldenrod;
  border-radius: 4px;
  text-align: center;
  padding: 7px 15px 5px 15px;
}

.h-center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.counter-btns {
  display: flex;
  margin: 1em;
  width: 20em;
  justify-content: space-between;
}

.count-display {
  font-weight: bold;
  font-size: larger;
  margin: 0 0.9em;
  color:aliceblue;
  background-color:#444444;
}